@model IEnumerable<Template.Models.Details>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopPlacesToVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guide)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TopPlacesToVisit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Restaurants)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hotels)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Guide)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CId }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CId }, new { @class = "btn btn-primary" })
    </td>
</tr>}
    </tbody>
</table>